* {
	font-family: Arimo, sans-serif;
  }
  a {
	text-decoration: none;
  }
  button {
	border: none;
  }

  body{
	max-width: 1600px;
	margin: auto;
	/*width: 80%;*/
	display: flex;
	flex-direction: column;
  }
  
  /* Класс для панели header */
  .heading__bar {
	align-self: center;
	display: flex;
	width: 80%;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
  }
  
  .menu__links__container {
	display: inline-block;
  }
  
  .text,
  .home_text_link {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0%;
	text-align: left;
  
	margin: 20px;
  
	color: rgb(0, 0, 0);
  }
  .home_text_link {
	color: rgb(242, 88, 34);
  }
  
  /* Центральная часть сайта */
  .center__cont {
	justify-content: space-evenly;
	display: flex;
	margin-top: 95px;
	gap: 27px;
  }
  
  .left {
	width: 536px;
	height: 374px;
  }
  
  .SEO_text {
	color: rgb(0, 0, 0);
	font-family: Gilroy-Bold;
	font-size: 60px;
	font-weight: 400;
	line-height: -1px;
	letter-spacing: 0%;
	text-align: left;
  }
  
  .buttons {
	display: flex;
	align-content: center;
  }
  
  .button_left,
  .button_right {
	font-size: 15px;
	font-weight: 300;
	line-height: 2.5;
	width: 140px;
  }
  .button_left {
	border-radius: 50px;
	box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
	background: rgb(242, 88, 34);
	margin-right: 70px;
  
	border: rgb(2, 221, 20);
	color: rgb(255, 255, 255);
  }
  
  .button_right {
	color: rgb(170, 170, 170);
	background: rgb(255, 255, 255);
  }

  .right {
	width: 544.81px;
	height: 374.84px;
  }
  
  .description {
	color: rgb(136, 136, 136);
	font-size: 20px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0%;
	text-align: left;
  }
  
  /* Нижняя панель */

  .bottom__panel {
	display: flex;
	justify-content: center;
	margin-top: 162px;
	align-items: center;
  }
  .bottom_img {
	size: 50px;
	margin:10px ;
  }

  /* Панель карточек */
  .bottom__cards {
	display: flex;
	margin-top: 100px;
	gap: 60px;
	justify-content: center;
  }

  .square_1 {
	display: grid;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background: rgba(242, 88, 34, 0.25);
    justify-content: center;
    align-items: center;
}

.square_2 {
	display: grid;
    width: 70px;
    height: 70px;
	border-radius: 15px;
	background: rgba(20, 146, 17, 0.28);
	justify-content: center;
    align-items: center;
}

.square_3 {
	display: grid;
    width: 70px;
    height: 70px;
	border-radius: 15px;
	background: rgba(255, 205, 29, 0.24);
	justify-content: center;
    align-items: center;
}

  .card_1_3 {
	background-color: white;
	padding-top: 40px;
	padding-left: 30px;
	width: 310px;
	height: 226px;

  }

  .card_2 {
	background-color: white;
	padding-top: 40px;
	padding-left: 30px;
	box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
	width: 370px;
	height: 291px;
  }


  .card_h1_text {
	color: rgb(0, 0, 0);
	font-family: Gilroy-Bold;
	font-size: 24px;
	font-weight: 400;
	line-height: -1px;
	letter-spacing: 0%;
	text-align: left;
  }

  .card_h2_text {
	color: rgb(102, 102, 102);
	font-size: 15px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: left;
  }

  .card_link {
	font-size: 11px;
	font-family: Gilroy-Bold;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: left;
	color: rgb(0, 0, 0);
  }

  /* Панель для причин */
  .reasons {
	margin-top: 100px;
	height: 919px;
	background-color: rgb(250, 250, 250);
	
  }

  .reasons_h1 {
	margin-top: 92px;
	color: rgb(0, 0, 0);
	font-family: Gilroy-Bold;
	font-size: 45px;
	font-weight: 400;
	line-height: -1px;
	letter-spacing: 0%;
	text-align: center;
  }

  .reasons_h2 {
	color: rgb(102, 102, 102);
	font-family: Gilroy-Regular;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: center;
  }

  .card_box{
	margin-top: 55px;
	display: flex;
	gap: 30px;
	justify-content: center;
  }

  .reasons_card {
	display: grid;
	background-color: white;
	box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
	width: 370px;
	height: 549px;
	overflow: hidden;
  }

  .card_h1 {
	text-align-last: center;
	color: rgb(0, 0, 0);
	font-family: Gilroy-Bold;
	font-size: 24px;
	font-weight: 400;
	line-height: -1px;
	letter-spacing: 0%;
	text-align: left;
  }

  .card_h2 {
	text-align-last: center;
	padding-left: 30px;
	padding-right: 30px;
	color: rgb(170, 170, 170);
	font-family: Gilroy-Regular;
	font-size: 15px;
	text-align: center;
  }

  .button_of_reasons {
	width: 150px;
	height: 50px;
	justify-self: center;
	font-size: 15px;
	font-weight: 300;
	line-height: 2.5;
	width: 140px;
	border-radius: 50px;
	box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
	background: rgb(242, 88, 34);
	border: rgb(2, 221, 20);
	color: rgb(255, 255, 255);
  }